<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="col-md-3 left_col" th:fragment="asideFragment">
		<div class="left_col scroll-view">
			<div class="navbar nav_title" style="border: 0;">
				<a th:href="@{/main}" class="site_title">
					<i class="fa fa-paw"></i>
					<span>TosM Data</span>
				</a>
			</div>
			<div class="clearfix"></div>
			<br />
			<!-- sidebar menu -->
			<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
				<div class="menu_section">
					<ul class="nav side-menu">
						<li>
							<a>
								<i class="fa fa-edit"></i>
								?배럭이란?
								<span class="fa fa-chevron-down"></span>
							</a>
							<ul class="nav child_menu">
								<li><a th:href="@{/barrack/furnitur}">#소개</a></li>
								<li><a href="#">?가구 정보</a></li>
								<li><a href="#">?임무</a></li>
								<li><a href="#">?요리</a></li>
								<li><a href="#">?농장</a></li>
							</ul>
						</li>
						<li>
							<a>
								<i class="fa fa-table"></i>
								?장비란?
								<span class="label label-success pull-right">
								Coming Soon
								</span>							
							</a>
							<ul class="nav child_menu">
								<li><a href="#">?소개</a></li>
								<li><a href="#">?레벨업 재료수급 방법</a></li>
								<li><a href="#">?강화 재료수급 방법</a></li>
								<li><a href="#">?재련 재료수급 방법</a></li>
								<li><a href="#">?초월 재료수급 방법</a></li>
								<li><a href="#">?카드는 무엇인가</a></li>
							</ul>
						</li>
						<li>
							<a>
								<i class="fa fa-clone"></i>
								?스킬?
								<span class="label label-success pull-right">
								Coming Soon
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="#">소개</a></li>
								<li><a href="#">팰로우 정보</a></li>
								<li><a href="#">팰로우 성장재료</a></li>
							</ul>
						</li>
						<li>
							<a>
								<i class="fa fa-clone"></i>
								?펠로우?
								<span class="label label-success pull-right">
								Coming Soon
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="#">소개</a></li>
								<li><a href="#">팰로우 정보</a></li>
								<li><a href="#">팰로우 성장재료</a></li>
							</ul>
						</li>
						<li>
							<a>
								<i class="fa fa-clone"></i>
								?큐폴?
								<span class="label label-success pull-right">
								Coming Soon
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="#">소개</a></li>
								<li><a href="#">팰로우 정보</a></li>
								<li><a href="#">팰로우 성장재료</a></li>
							</ul>
						</li>
						<li>
							<a>
								<i class="fa fa-bug"></i>
								?재화?
								<span class="label label-success pull-right">
								Coming Soon
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="#">소개</a></li>
								<li><a href="#">골드 수급 방법</a></li>
								<li><a href="#">Project Detail</a></li>
								<li><a href="#">Contacts</a></li>
								<li><a href="#">Profile</a></li>
							</ul>
						</li>
						<li>
							<a>
								<i class="fa fa-bug"></i>
								?직업에 관하여
								<span class="label label-success pull-right">
								Coming Soon
								</span>
							</a>
							<ul class="nav child_menu">
								<li><a href="#">소개</a></li>
								<li><a href="#">골드 수급 방법</a></li>
								<li><a href="#">Project Detail</a></li>
								<li><a href="#">Contacts</a></li>
								<li><a href="#">Profile</a></li>
							</ul>
						</li>
						<li>
							<a href="javascript:void(0)">
								<i class="fa fa-laptop"></i>
								?성장에 관하여
								<span class="label label-success pull-right">
								Coming Soon
								</span>
							</a>
						</li>
					</ul>
				</div>
	
			</div>
		</div>
	</div>
</html>